In [661]:
#!/usr/bin/env python3
# -*- coding: utf-8 -*-
"""
Created on Sun Feb 18 12:11:08 2024

@author: shahriar
"""

import numpy as np 
import pandas as pd
import matplotlib.pyplot as plt 


import os
import time 


import sys

# Arithmetic 
from fractions import Fraction
from decimal import Decimal

In [662]:
class Node: 
    """
    - Include attribute_value AND leaf node in this 
    - 
    """
    def __init__():
        return
    
    
class Leaf(): 
    def __init(): 
        return

In [663]:
class ID3: 
    
    def __init__(self):
        self.counter = 0 
        self.tree = []
        self.labels = []
    def print_tree_list(self): 
        print(self.tree)
    
    def run(self, examples, target_attribute, attributes, prev_node=None):
         
        """
        
        Parameters
        ----------
        examples : training examples
            pandas df 
        
        target_attribute : attriburte whose value is to be predicted by tree 
            pandas series 
            
        attributes : list of other attributes to be tested 
            list w/ strings 
            
        Returns
        -------
        Returns a decision tree that correctly classsifies the examples (!)



        AMENDMENT: The input parameter should look as follows: 
            examples, target_attribute, attributes
        """
        
        
        print('-----------------------------')
        print('-----run method called -----')
        
        #print( 'examples.head() : \n', examples.head() )
        #print('examples.shape : ', examples.shape)
        
        #print( 'target_attribute.head() :\n', target_attribute.head() )
        #print( 'target_attribute.shape:\n', target_attribute.shape )
        
        print('attributes :\n', attributes)
            
            
        #examples = df.iloc[:, 0:-1]
        #target_attribute = df.iloc[:, -1]
        #attributes = attributes 
        
        # 1. create  a root for the tree
        root = []
        #labels = [] 
        
        # 2 and 3. All examples have same label -> return single node with that label
        target_values, target_counts = np.unique(target_attribute, return_counts=True)
        
        if len(target_values) ==1: 
            
            print('**** CONDITION 2 & 3 ****')
            print('---> returning, root = ', root, ', target_values = ', target_values)
            
            #labels.append( target_values[0])
            
            return root, target_values[0] # I am not sure how this will look  
        
        # 4.attributes is empty 
            # then return single-node tree root, 
            # with most common label in target_attribute in examples
        
        if len(attributes) == 0: 
            # Find the most frequent target value
            target_value, target_count = np.unique(target_attribute, return_counts=True)
            most_frequent_value = target_value[np.argmax(target_count)]
            
            print('**** CONDITION 4 ****')
            print('returning, root = ', root , ', most_frequent_value =', most_frequent_value)
            #labels.append(most_frequent_value)
            
            return root, most_frequent_value
        
        # 5. Do this - this is where is information gain is calculated 
        """
        Find the information_gain for each attribute to decide the best att

            - A is the variable with the best attribute that best classifies the examples 
            - examples_vi 
            - 
        """
        
        A = None # This is th attribute with the highest info gain 
        
        highest_info_gain = float('-inf')
        
        for a in attributes: # find the attribute with the highest information gain 
            
            """
            There needs to be a methods to decide if the attribute is discrete or continuous.
            For now, assume all are discrete. 
            """
            
            #info_gain = self.information_gain( examples[a], target_attribute, 'entropy') # examples is pd df
            
            #print('----------------------------')
            #print('\t\t\tDEBUGGING KEY ERROR in info gain for disc attr')
            
            #display('\t\texamples[a]', examples[a])
            #display('\t\ttarget_attribute ', target_attribute)
            
            #print('----------------------------')
                   
            
            info_gain = self.information_gain_for_discrete_attribute(examples[a], 
                                                                     target_attribute, 
                                                                     impurity='entropy')        
            
            if info_gain > highest_info_gain: 
                A = a
                highest_info_gain = info_gain 
        
        root.append(A) 

        print('root : ', root)
        print('highest_info_gain : ', highest_info_gain)
        #sys.exit()
        
        
        # get the unique values in A - all the possible values the attribute may have 
        
        
        vi_list_np = np.unique(examples[A]) # examples is pandas df
        #vi_with_root = [] 
        print('----- vi_list_np is the unique values that the attr w/ highest info gain has -----')
        
        print('vi_list_np : ', vi_list_np)
        #print('vi_with_root : ', vi_with_root)
                
        print('------------------------------')

        vi_count = 0             
        
        for vi in vi_list_np : 

            vi_count = vi_count+1 # where/why am I using this?  
            
            # Add a new branch below root, corresponding to the test A = v_i 
            #vi_with_root.append(A+'->'+vi) # a list 
            #root.append( vi_with_root )
            
            
            next_ = None  
            
            if prev_node is None: 
            
                root.append(A+'->'+str(vi))
            else :
                root.append(prev_node +'<-' + A + '->'+str(vi))
            
            """
            See how root looks. 
            """
            
            print('root after adding attr values : ', root)
            
            print('----\n\n')
            
            examples_vi  = examples[ examples[A] == vi ].drop(columns=A) # works 
            
            
            print('-----------------')
            print('---- examples_vi df is the subset df of A; printed below: ')
            print( examples_vi )
            #print('\t\texamples_vi df')
            print('-----------------')
            
            
            # If examples_vi is empty : What I understand from this is that there is not tuple 
            """
            When examples_vi is empty, it means there is not tuple. But, 
            """
            
            
            if examples_vi.empty: 
                
                # Then below this new branch add a leaf node with label = most common value of Target_attribute in Examples
                target_value, target_count = np.unique(target_attribute, return_counts=True)
                most_frequent_value = target_value[np.argmax(target_count)]
                
                
                print("**** CONDITION 5 - examples_vi is empty ****")
                print('returning root = ', root , ', most_frequent_value = ', most_frequent_value)
                
                labels.append(most_frequent_value)
                return root, most_frequent_value       
            
            else:  
                """
                change this to recursive run call 
                """
                
                attributes_ = attributes 
                
                print("**** CONDITION 5 - examples_vi is NOT empty ****")
                print('------------------------------------------')
                print('attributes_ before removing : ', attributes_)
                #attributes.remove(A)
                
                print('attribute A to be removed : ', A)
                
                if A in attributes_: 
                    attributes_.remove(A) 
                print('attributes_ after removing : ', attributes_)
                
                
                print('------------------------------------------')
                
                print('------------------------------------------')
                
                
                # get the corresponding target attribute tuples  
                
                
                print('corresponding tuple index : ', examples_vi.index)
                
                #print('corresponding target_attribute below : ')
                
                indices = examples_vi.index
                
                
                target_attribute_ = target_attribute.loc[ indices ]
                
                
                display(target_attribute_)
                
                
                
                self.run(examples_vi, target_attribute_ ,attributes_,  str(A + "-" + vi ) ) # remove not in list error 
                #sys.exit(0)
                
                print()
                
                print('vi : ', vi )
                print('------')
                
                
                
            vi_with_root = [] 
            
            
            """
            I am thinking of using dictionary as for the mean branching an attribute
            
            - Root is a list
            
            """
        
        print('root, out of the loop : ', root)
        self.tree.append(root)
        #self.labels.append(labels)
        #A = None 
        #examples_vi = [] #None 
        
        #branches = [] # the branches of the tree
        
        
        #if len( branches_vi) == 0: 
            # Then below this new branch add a  leaf node with label = most common value of Target_attribute in Examples
        
        
        #else:  # below this new branch add the subtree 
        #    ID3( examples_vi,  target_attribute, )            
    
      
        
    def compute_impurity_by_label(self, attribute, impurity='gini'): # Impurity of the total dataset : DONE
        
        """
        FEATURES: 
        
        attribute : pandas df
            the column whose entropy is to be calculated
        
        impurity : string 
            the impurity measure used- gini or entropty 
        
        
        Returns 
            np real scalar number 
        """
        
    
        # get the total number of instances/rows in the dataset
        N = attribute.shape[0]
        
        #print('\t\t Number of rows in attribute param:', N)
        #sys.exit(0)
    
        # get the count
        label_values, label_counts = np.unique(attribute, return_counts=True)
        label_fractions = []
    
    
        # get the fractions for the each of the labels- better to use loop be cause there can be more than two labels
    
        for count in label_counts :
            #print(Decimal(count/N)) 
            
            result_float = float( count/ Decimal(N) )
            
            label_fractions.append( result_float  )
    
    
        #print('\t\tlabel_fractions: ',label_fractions)
        
        label_fractions = np.array( label_fractions )
        #print('\t\tDifferent label values collected: ', label_values)
        #print('\t\tDifferent label counts colleceted: ', label_counts)
        #print('\t\tFractions of different labels: ', label_fractions)
    
    
        # write a subroutine for entropy
        if impurity=='entropy':
            
            return -np.sum(  label_fractions * np.log2(label_fractions) )
                  
    
        # write a subroutine for gini
        elif impurity=='gini':  
    
          return 1 - np.sum(  np.square( label_fractions )   ) # 1 - sum of elementwise fraction #This returns the complete gini
    
    
        else :
    
            print("ERROR: impurity metric can be either of gini or entropy.")
            return -1 
        
        
    def information_gain_for_discrete_attribute(self, examples_a, target_attribute, impurity='entropy'): # 02/28/2024 This stays. Fix this 
        """

        Parameters
        ----------
        examples_a : the attribute column whose feature is to be calculated 
            type: Pandas Series 
            
        target_attribute : attribute whose value is to be predicted by tree 
            type: Pandas Series  
        
        attribute : attribute/column name for examples_a
            type: string
        
        impurity_measure : gini/entropy 
            type: string

        Returns
        -------
        scalar real number  
            
        
        
        self.information_gain( examples[a], target_attribute, 'entropy') # examples is pd df

        """
        
        print('--------------- info gain for discrete attr method -------------------')
        #print('\t\t\t examples_a :\n', examples_a)
        #print('\t\t\t examples_a.shape :\n', examples_a.shape)
        
        
        
        #print('\t\t\t target_attribute :\n', target_attribute)
        
        
        
        
        #impurity_for_target_attribute = self.compute_impurity_for_discrete_attribute(target_attribute, impurity=impurity)
        
        
        # get the unique values in examples_a
        examples_a_values = np.unique(examples_a)
        
        N = examples_a.shape[0]
        
        result = self.compute_impurity_by_label(  attribute=target_attribute , impurity=impurity)
        
        #print( '\t\t\tresult after initialization : ', result) # ok 
        
        #sys.exit(0)
        for a in examples_a_values: 
            
            # get the subset of examples_a and corresponding tuple in target_attribute
            #examples_a[attribute]
            #print( examples_a[examples_a==a])
            #print('-----')
            #print('feature subset shape:\n', examples_a[examples_a==a].shape)
            #print('-----')
            
            #print( 'target subset shape:\n', target_attribute[examples_a==a].shape )
        
            
            #examples_a_subset = np.array( examples_a[examples_a==a] ) 
            """
            I don't need the line above rn
            """
            
            
            #target_a_subset = np.array( target_attribute[examples_a==a] ) # converting to np for faster computation
            
            n = target_attribute[examples_a==a].shape[0]
            #compute_impurity_by_label(  np.array( target_attribute[examples_a==a] ), impurity=impurity)
            
            
            prob_float = float( n/ Decimal(N) )
            
            
            impurity_a = self.compute_impurity_by_label( attribute=target_attribute[examples_a==a] , 
                                                        impurity=impurity) * prob_float
            
            result = result - impurity_a
            
            #print('\t\t---------------\t\t\n')
            
            
            
            #print('\t\t\t--- final info gain : ', result )
        
        print('============= info gain for discrete attr method =============')
        return result # returns a scalar real number

In [664]:
# Get the current directory
current_dir = os.getcwd()

# List all files and folders in the current directory
files_and_folders = os.listdir(current_dir)

# Print the list
for item in files_and_folders:
    print(item)

tree.py
.DS_Store
test_data_1.csv
Untitled.ipynb
id3.ipynb
test.csv
README.md
discrete_attribute_test.py
PlayTennis.csv
train.csv
.ipynb_checkpoints
.git
Data
test.ipynb

In [665]:
df_tennis = pd.read_csv('PlayTennis.csv')

In [666]:
np.unique( df_tennis.play, return_counts=True)

(array(['no', 'yes'], dtype=object), array([5, 9]))

In [667]:
"""
Test different stages of ID3 on Play Tennis Dataset

"""

'\nTest different stages of ID3 on Play Tennis Dataset\n\n'

In [668]:
df_tennis.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [669]:
columns = ['outlook', 'temp', 'humidity', 'windy', 'play']
attributes = ['outlook', 'temp', 'humidity', 'windy',] 
df_tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [670]:
df_tennis.shape

(14, 5)

In [671]:
type(df_tennis)

pandas.core.frame.DataFrame

In [672]:
df_tennis = pd.read_csv('PlayTennis.csv')

display(df_tennis)
print('---------------------------------')
df_tennis['windy'] = df_tennis['windy'].astype(str)
display(df_tennis.dtypes)

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

---------------------------------

outlook     object
temp        object
humidity    object
windy       object
play        object
dtype: object

In [673]:
attributes = ['outlook', 'temp', 'humidity', 'windy',]

In [674]:
#attributes.remove('outlook') # this is an in-place operation

In [675]:
#attributes

In [676]:
"""


"""
attributes_ = list( df_tennis.columns ) 
examples = df_tennis.iloc[:, :-1]
target_attribute = df_tennis.iloc[:, -1]

In [677]:
display( attributes_) 
display(examples)
display(target_attribute)

['outlook', 'temp', 'humidity', 'windy', 'play']

     outlook  temp humidity  windy
0      sunny   hot     high  False
1      sunny   hot     high   True
2   overcast   hot     high  False
3      rainy  mild     high  False
4      rainy  cool   normal  False
5      rainy  cool   normal   True
6   overcast  cool   normal   True
7      sunny  mild     high  False
8      sunny  cool   normal  False
9      rainy  mild   normal  False
10     sunny  mild   normal   True
11  overcast  mild     high   True
12  overcast   hot   normal  False
13     rainy  mild     high   True

0      no
1      no
2     yes
3     yes
4     yes
5      no
6     yes
7      no
8     yes
9     yes
10    yes
11    yes
12    yes
13     no
Name: play, dtype: object

In [678]:
df_tennis.dtypes

outlook     object
temp        object
humidity    object
windy       object
play        object
dtype: object

In [679]:
tree = ID3()
tree.run(examples, target_attribute, attributes)

-----------------------------
-----run method called -----
attributes :
 ['outlook', 'temp', 'humidity', 'windy']
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
root :  ['outlook']
highest_info_gain :  0.24674981977443933
----- vi_list_np is the unique values that the attr w/ highest info gain has -----
vi_list_np :  ['overcast' 'rainy' 'sunny']
------------------------------
root after adding attr values :  ['outlook', 'outlook->overcast']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
    temp humidity  windy
2    hot     high  False
6   cool   normal   True
11  mild     high   True
12   hot   normal  False
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['outlook', 'temp', 'humidity', 'windy']
attribute A to be removed :  outlook
attributes_ after removing :  ['temp', 'humidity', 'windy']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([2, 6, 11, 12], dtype='int64')

2     yes
6     yes
11    yes
12    yes
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp', 'humidity', 'windy']
**** CONDITION 2 & 3 ****
---> returning, root =  [] , target_values =  ['yes']

vi :  overcast
------
root after adding attr values :  ['outlook', 'outlook->overcast', 'outlook->rainy']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
    temp humidity  windy
3   mild     high  False
4   cool   normal  False
5   cool   normal   True
9   mild   normal  False
13  mild     high   True
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp', 'humidity', 'windy']
attribute A to be removed :  outlook
attributes_ after removing :  ['temp', 'humidity', 'windy']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([3, 4, 5, 9, 13], dtype='int64')

3     yes
4     yes
5      no
9     yes
13     no
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp', 'humidity', 'windy']
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
root :  ['windy']
highest_info_gain :  0.9709505944546686
----- vi_list_np is the unique values that the attr w/ highest info gain has -----
vi_list_np :  ['False' 'True']
------------------------------
root after adding attr values :  ['windy', 'outlook-rainy<-windy->False']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
   temp humidity
3  mild     high
4  cool   normal
9  mild   normal
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp', 'humidity', 'windy']
attribute A to be removed :  windy
attributes_ after removing :  ['temp', 'humidity']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([3, 4, 9], dtype='int64')

3    yes
4    yes
9    yes
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp', 'humidity']
**** CONDITION 2 & 3 ****
---> returning, root =  [] , target_values =  ['yes']

vi :  False
------
root after adding attr values :  ['windy', 'outlook-rainy<-windy->False', 'outlook-rainy<-windy->True']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
    temp humidity
5   cool   normal
13  mild     high
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp', 'humidity']
attribute A to be removed :  windy
attributes_ after removing :  ['temp', 'humidity']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([5, 13], dtype='int64')

5     no
13    no
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp', 'humidity']
**** CONDITION 2 & 3 ****
---> returning, root =  [] , target_values =  ['no']

vi :  True
------
root, out of the loop :  ['windy', 'outlook-rainy<-windy->False', 'outlook-rainy<-windy->True']

vi :  rainy
------
root after adding attr values :  ['outlook', 'outlook->overcast', 'outlook->rainy', 'outlook->sunny']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
    temp humidity  windy
0    hot     high  False
1    hot     high   True
7   mild     high  False
8   cool   normal  False
10  mild   normal   True
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp', 'humidity']
attribute A to be removed :  outlook
attributes_ after removing :  ['temp', 'humidity']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([0, 1, 7, 8, 10], dtype='int64')

0      no
1      no
7      no
8     yes
10    yes
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp', 'humidity']
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
--------------- info gain for discrete attr method -------------------
============= info gain for discrete attr method =============
root :  ['humidity']
highest_info_gain :  0.9709505944546686
----- vi_list_np is the unique values that the attr w/ highest info gain has -----
vi_list_np :  ['high' 'normal']
------------------------------
root after adding attr values :  ['humidity', 'outlook-sunny<-humidity->high']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
   temp  windy
0   hot  False
1   hot   True
7  mild  False
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp', 'humidity']
attribute A to be removed :  humidity
attributes_ after removing :  ['temp']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([0, 1, 7], dtype='int64')

0    no
1    no
7    no
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp']
**** CONDITION 2 & 3 ****
---> returning, root =  [] , target_values =  ['no']

vi :  high
------
root after adding attr values :  ['humidity', 'outlook-sunny<-humidity->high', 'outlook-sunny<-humidity->normal']
----


-----------------
---- examples_vi df is the subset df of A; printed below:
    temp  windy
8   cool  False
10  mild   True
-----------------
**** CONDITION 5 - examples_vi is NOT empty ****
------------------------------------------
attributes_ before removing :  ['temp']
attribute A to be removed :  humidity
attributes_ after removing :  ['temp']
------------------------------------------
------------------------------------------
corresponding tuple index :  Index([8, 10], dtype='int64')

8     yes
10    yes
Name: play, dtype: object

-----------------------------
-----run method called -----
attributes :
 ['temp']
**** CONDITION 2 & 3 ****
---> returning, root =  [] , target_values =  ['yes']

vi :  normal
------
root, out of the loop :  ['humidity', 'outlook-sunny<-humidity->high', 'outlook-sunny<-humidity->normal']

vi :  sunny
------
root, out of the loop :  ['outlook', 'outlook->overcast', 'outlook->rainy', 'outlook->sunny']

In [680]:
df_tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [681]:
attributes = ['outlook', 'temp', 'humidity', 'windy',]

In [682]:
a = attributes.remove('outlook')

In [683]:
a

In [684]:
#attributes.remove('outlook')

In [685]:
attributes

['temp', 'humidity', 'windy']

In [686]:
df_tennis

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [687]:
sunny_df = df_tennis[df_tennis['outlook'] == 'sunny']
display(sunny_df)

   outlook  temp humidity  windy play
0    sunny   hot     high  False   no
1    sunny   hot     high   True   no
7    sunny  mild     high  False   no
8    sunny  cool   normal  False  yes
10   sunny  mild   normal   True  yes

In [688]:
overcast_df = df_tennis[df_tennis['outlook'] == 'overcast']
display(overcast_df)

     outlook  temp humidity  windy play
2   overcast   hot     high  False  yes
6   overcast  cool   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes

In [689]:
rainy_df = df_tennis[df_tennis['outlook'] == 'rainy']
display(rainy_df)

   outlook  temp humidity  windy play
3    rainy  mild     high  False  yes
4    rainy  cool   normal  False  yes
5    rainy  cool   normal   True   no
9    rainy  mild   normal  False  yes
13   rainy  mild     high   True   no

In [690]:
target_attribute.loc[[2, 4, 5]]

2    yes
4    yes
5     no
Name: play, dtype: object

In [691]:
tree.print_tree_list()

[['windy', 'outlook-rainy<-windy->False', 'outlook-rainy<-windy->True'], ['humidity', 'outlook-sunny<-humidity->high', 'outlook-sunny<-humidity->normal'], ['outlook', 'outlook->overcast', 'outlook->rainy', 'outlook->sunny']]

In [692]:
tree.tree

[['windy', 'outlook-rainy<-windy->False', 'outlook-rainy<-windy->True'],
 ['humidity',
  'outlook-sunny<-humidity->high',
  'outlook-sunny<-humidity->normal'],
 ['outlook', 'outlook->overcast', 'outlook->rainy', 'outlook->sunny']]

In [693]:
"""
See if you can get the target label 

"""

tree.labels

[]