In [2]:
import numpy as np 
import pandas as pd 
import matplotlib.pyplot as plt 

import os 
import sys

In [3]:
df = pd.read_csv('train.csv')

In [4]:
df = df.drop('TransactionID', axis=1)

In [5]:
df.head()

,ProductCD,card1,card2,card3,card4,card5,card6,addr1,addr2,TransactionDT,...,C6,C7,C8,C9,C10,C11,C12,C13,C14,isFraud
0,C,5812,408.0,185.0,mastercard,224.0,debit,NotFound,NotFound,11844610,...,1.0,1.0,1.0,0.0,0.0,1.0,1.0,1.0,1.0,0
1,W,12577,268.0,150.0,visa,166.0,debit,123.0,87.0,12274010,...,94.0,0.0,0.0,85.0,0.0,104.0,0.0,457.0,120.0,0
2,H,12581,453.0,150.0,visa,226.0,debit,272.0,87.0,1343827,...,1.0,0.0,1.0,0.0,1.0,1.0,0.0,1.0,1.0,0
3,W,8139,327.0,150.0,discover,194.0,credit,204.0,87.0,15034938,...,2.0,0.0,0.0,2.0,0.0,3.0,0.0,18.0,6.0,0
4,W,16132,111.0,150.0,visa,226.0,debit,220.0,87.0,14680707,...,2.0,0.0,0.0,1.0,0.0,1.0,0.0,28.0,1.0,0

In [6]:
card4_values, card4_counts = np.unique(df['card4'], return_counts=True)

print(card4_values)
print(card4_counts)

['NotFound' 'american express' 'discover' 'mastercard' 'visa']
[  1269   6638   5350 151030 308145]

In [7]:
df['card4'].shape

(472432,)

In [8]:
card6_values, card6_counts = np.unique(df['card6'], return_counts=True)

print(card6_values)
print(card6_counts)

['NotFound' 'charge card' 'credit' 'debit' 'debit or credit']
[  1261     11 119134 352003     23]

In [9]:
productCD_values, productCD_counts = np.unique( df['ProductCD'], return_counts=True)

print(productCD_values)
print(productCD_counts)

['C' 'H' 'R' 'S' 'W']
[ 54643  26489  30111   9328 351861]

In [10]:
addr1_values, addr1_counts = np.unique(df['addr1'], return_counts=True)

print(len(addr1_values))
print(len(addr1_counts))

304
304

In [11]:
addr2_values, addr2_counts = np.unique(df['addr2'], return_counts=True)

print(len(addr2_values))
print(len(addr2_counts))

72
72

In [12]:
addr1_values

array(['100.0', '101.0', '102.0', '104.0', '105.0', '106.0', '110.0',
       '111.0', '112.0', '113.0', '117.0', '119.0', '122.0', '123.0',
       '124.0', '125.0', '126.0', '128.0', '130.0', '131.0', '132.0',
       '133.0', '134.0', '137.0', '139.0', '141.0', '142.0', '143.0',
       '144.0', '145.0', '146.0', '148.0', '151.0', '152.0', '154.0',
       '155.0', '157.0', '158.0', '159.0', '160.0', '161.0', '162.0',
       '163.0', '164.0', '166.0', '167.0', '168.0', '170.0', '171.0',
       '172.0', '174.0', '177.0', '178.0', '181.0', '182.0', '183.0',
       '184.0', '189.0', '190.0', '191.0', '193.0', '194.0', '195.0',
       '196.0', '198.0', '199.0', '200.0', '201.0', '202.0', '203.0',
       '204.0', '205.0', '206.0', '208.0', '210.0', '213.0', '214.0',
       '215.0', '216.0', '217.0', '218.0', '219.0', '220.0', '221.0',
       '224.0', '225.0', '226.0', '231.0', '232.0', '234.0', '235.0',
       '236.0', '237.0', '239.0', '241.0', '242.0', '243.0', '245.0',
       '247.0', '248.0', '249.0', '250.0', '251.0', '252.0', '253.0',
       '254.0', '257.0', '258.0', '259.0', '260.0', '261.0', '262.0',
       '264.0', '265.0', '268.0', '269.0', '270.0', '272.0', '274.0',
       '275.0', '276.0', '277.0', '278.0', '282.0', '283.0', '284.0',
       '286.0', '290.0', '292.0', '294.0', '295.0', '296.0', '297.0',
       '298.0', '299.0', '300.0', '301.0', '302.0', '303.0', '305.0',
       '306.0', '307.0', '308.0', '309.0', '310.0', '312.0', '313.0',
       '314.0', '315.0', '316.0', '321.0', '322.0', '323.0', '324.0',
       '325.0', '326.0', '327.0', '328.0', '329.0', '330.0', '331.0',
       '332.0', '333.0', '335.0', '337.0', '338.0', '339.0', '340.0',
       '341.0', '343.0', '345.0', '346.0', '347.0', '348.0', '349.0',
       '351.0', '352.0', '353.0', '356.0', '358.0', '359.0', '360.0',
       '361.0', '365.0', '366.0', '368.0', '369.0', '371.0', '373.0',
       '374.0', '375.0', '376.0', '377.0', '379.0', '381.0', '382.0',
       '384.0', '385.0', '386.0', '387.0', '389.0', '391.0', '393.0',
       '395.0', '396.0', '397.0', '399.0', '400.0', '401.0', '402.0',
       '403.0', '404.0', '406.0', '408.0', '409.0', '410.0', '411.0',
       '416.0', '417.0', '418.0', '420.0', '426.0', '427.0', '428.0',
       '429.0', '430.0', '431.0', '432.0', '433.0', '435.0', '436.0',
       '439.0', '441.0', '443.0', '444.0', '445.0', '446.0', '448.0',
       '450.0', '451.0', '452.0', '453.0', '454.0', '456.0', '457.0',
       '458.0', '459.0', '464.0', '465.0', '466.0', '467.0', '468.0',
       '469.0', '470.0', '471.0', '472.0', '474.0', '476.0', '477.0',
       '478.0', '479.0', '481.0', '482.0', '483.0', '485.0', '486.0',
       '488.0', '489.0', '491.0', '492.0', '494.0', '496.0', '498.0',
       '499.0', '501.0', '502.0', '503.0', '504.0', '505.0', '507.0',
       '508.0', '509.0', '511.0', '512.0', '513.0', '514.0', '515.0',
       '516.0', '517.0', '518.0', '520.0', '521.0', '522.0', '523.0',
       '526.0', '527.0', '528.0', '529.0', '530.0', '531.0', '535.0',
       '536.0', '540.0', 'NotFound'], dtype=object)

In [13]:
np.max(addr1_values), np.min(addr1_values)

('NotFound', '100.0')

In [14]:
addr2_values

array(['10.0', '100.0', '101.0', '102.0', '13.0', '14.0', '15.0', '16.0',
       '17.0', '18.0', '19.0', '20.0', '21.0', '22.0', '23.0', '24.0',
       '26.0', '27.0', '28.0', '29.0', '30.0', '31.0', '32.0', '34.0',
       '35.0', '36.0', '38.0', '39.0', '40.0', '43.0', '44.0', '46.0',
       '47.0', '48.0', '49.0', '50.0', '51.0', '52.0', '54.0', '55.0',
       '57.0', '59.0', '60.0', '61.0', '62.0', '63.0', '65.0', '66.0',
       '68.0', '69.0', '70.0', '71.0', '72.0', '73.0', '74.0', '76.0',
       '77.0', '78.0', '79.0', '82.0', '84.0', '86.0', '87.0', '88.0',
       '89.0', '92.0', '93.0', '94.0', '96.0', '97.0', '98.0', 'NotFound'],
      dtype=object)

In [15]:
np.max(addr2_values) , np.min(addr2_values)

('NotFound', '10.0')

In [16]:
"""
Consider the following discrete values to create a dataset

    'ProductCD', 'card4', 'card6'

and create a dataset w/ target label and only this list of features 

"""

df[['ProductCD', 'card4', 'card6', 'isFraud']]

       ProductCD       card4   card6  isFraud
0              C  mastercard   debit        0
1              W        visa   debit        0
2              H        visa   debit        0
3              W    discover  credit        0
4              W        visa   debit        0
...          ...         ...     ...      ...
472427         W  mastercard  credit        0
472428         W  mastercard   debit        0
472429         W        visa   debit        0
472430         W        visa   debit        0
472431         H        visa  credit        0

[472432 rows x 4 columns]

In [17]:
isFraud_values, isFraud_counts = np.unique(df['isFraud'], return_counts=True)

print(isFraud_values, '\n', isFraud_counts)

[0 1]
 [455902  16530]

In [18]:
df[['ProductCD', 'card4', 'card6', 'isFraud']].to_csv('test_data_1.csv', index=False)

In [19]:
isFraud_counts[0] / isFraud_counts[1]

27.580278281911674

In [21]:
df = pd.read_csv('playtennis.csv')

df.head()

    outlook  temp humidity  windy play
0     sunny   hot     high  False   no
1     sunny   hot     high   True   no
2  overcast   hot     high  False  yes
3     rainy  mild     high  False  yes
4     rainy  cool   normal  False  yes

In [22]:
df[['outlook', 'play']]

     outlook play
0      sunny   no
1      sunny   no
2   overcast  yes
3      rainy  yes
4      rainy  yes
5      rainy   no
6   overcast  yes
7      sunny   no
8      sunny  yes
9      rainy  yes
10     sunny  yes
11  overcast  yes
12  overcast  yes
13     rainy   no

In [25]:
np_outlook = np.array(df['outlook'])
np_play = np.array(df['play'])

In [34]:
df_crosstab = pd.crosstab([np_outlook, np_play],  columns = 'value_count') #, rowname='play')

In [38]:
df_crosstab

col_0           value_count
row_0    row_1
overcast yes              4
rainy    no               2
         yes              3
sunny    no               3
         yes              2

In [39]:
type(df_crosstab)

pandas.core.frame.DataFrame

In [40]:
df_crosstab.shape

(5, 1)

In [41]:
df_crosstab.columns

Index(['value_count'], dtype='object', name='col_0')

In [43]:
df_crosstab.head()

col_0           value_count
row_0    row_1
overcast yes              4
rainy    no               2
         yes              3
sunny    no               3
         yes              2

In [44]:
df_crosstab.index

MultiIndex([('overcast', 'yes'),
            (   'rainy',  'no'),
            (   'rainy', 'yes'),
            (   'sunny',  'no'),
            (   'sunny', 'yes')],
           names=['row_0', 'row_1'])

In [45]:
np_outlook

array(['sunny', 'sunny', 'overcast', 'rainy', 'rainy', 'rainy',
       'overcast', 'sunny', 'sunny', 'rainy', 'sunny', 'overcast',
       'overcast', 'rainy'], dtype=object)

In [46]:
np_play

array(['no', 'no', 'yes', 'yes', 'yes', 'no', 'yes', 'no', 'yes', 'yes',
       'yes', 'yes', 'yes', 'no'], dtype=object)

In [52]:
from scipy.stats import chi2_contingency

# Contingency table (cross-tabulation)
contingency_table = pd.crosstab(df['outlook'], df['play'])

# Perform chi-square test of independence
chi2, p, dof, expected = chi2_contingency(contingency_table)

print("Chi-square statistic:", chi2)
print("p-value:", p)
print("Degrees of freedom:", dof)
print("Expected frequencies table:")
print(expected)


"""
Use alpha to compare 

"""

Chi-square statistic: 3.5466666666666664
p-value: 0.16976615743981122
Degrees of freedom: 2
Expected frequencies table:
[[1.42857143 2.57142857]
 [1.78571429 3.21428571]
 [1.78571429 3.21428571]]

In [53]:
df

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [57]:
X = df[['outlook', 'temp', 'humidity', 'windy']]
y = df['play']

In [58]:
from sklearn.model_selection import train_test_split

In [69]:
X_train, X_val, y_train, y_val =train_test_split(X, y, test_size=0.2, stratify=y)

In [70]:
display( X_train.shape) 
display( y_train.shape)

(11, 4)

(11,)

In [71]:
X_val

  outlook  temp humidity  windy
3   rainy  mild     high  False
7   sunny  mild     high  False
4   rainy  cool   normal  False

In [72]:
y_val

3    yes
7     no
4    yes
Name: play, dtype: object

In [73]:
def sample_continuous_attribute(attribute, examples_a, target_attribute):
    """
    attribute : name of attribute 
        type : string 
    
    examples_a : this is a column vector of a continuous attribute/feature
        type : pandas series
        
    target_attribute : this is the target classification column
    
    """
    
    df = pd.concat([examples_a, target_attribute], axis=1)
    
    df_1 = df[ df['isFraud'] == 1 ]
    df_0 = df[ df['isFraud'] == 0 ]
    
    
    """
    As discussed, I am going to do a stratified sampling. 
    """